html {
  box-sizing: border-box;
	font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Using native system fonts https://css-tricks.com/snippets/css/system-font-stack/ */
@font-face {
	font-family: system-ui;
	font-style: normal;
	font-weight: 300;
	src: local(".SFNSText-Light"),
		local(".HelveticaNeueDeskInterface-Light"),
		local(".LucidaGrandeUI"),
		local("Segoe UI Light"),
		local("Ubuntu Light"),
		local("Roboto-Light"),
		local("DroidSans"),
		local("Tahoma");
}

body {
  font-size: 14px;
  @media screen and (min-width: 320px) {
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));
  }
  @media screen and (min-width: 1000px) {
    font-size: 20px;
  }
	font-family: system-ui;
	line-height: 1.5;
}

#strava {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card {
  border-radius: 4px;
  box-shadow:
    0 1px 1px 0 rgba(60, 64, 67, .08),
    0 1px 3px 1px rgba(60, 64, 67, .16);
  font-size: 14px;
  margin-bottom: 16px;
}

.card__header {
  height: 72px;
  line-height: initial;
  overflow: hidden;
  padding: 16px;
}

.card__avatar {
  border-radius: 50%;
  float: left;
  margin-right: 16px;
}

.card__title {
  color: rgba(0, 0, 0, .9);
  font-size: 20px;
  margin: 0;
}

.card__subtitle {
  color: rgba(0, 0, 0, .58);
  margin: 2px 0 0;
}

.card__map {
  display: block;
  height: auto;
  margin-bottom: 16px;
  width: 100%;
}

.card__detail {
  padding: 0 16px 16px;
}

.card__description {
  color: rgba(0, 0, 0, .58);
  display: block;
  margin: 0;
}

.card__actions {
  justify-content: space-between;
  display: flex;
  list-style: none;
  margin: 24px 0 0;
  padding-left: 0;
}
